<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Spotipi Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h3>Login Page</h3>
        <button onclick="login()">Login with Spotify</button>
    </body>
    <script type="text/javascript" src="../../static/index.js" async defer></script>
</html> 